.night-mode{
  --background: #303030;
  --foreground: #dddee3;
  --box: #525257;
  --navBar: #c97200;
  --selected: #fbab43;
  --hover: #aaaaaa;
  --blue100: #017ca5;
  --red100: #990f02;
  --commentBox: #646971;

}

.light-mode{
  --background: #dddee3;
  --foreground: #303030;
  --box: #FFF7ED;
  --navBar: #FFBF69;
  --selected: #fbab43;
  --hover: #aaaaaa;
  --blue100: #037ca5;
  --red100: #e3242b;
  --commentBox: #F5E8DD;
}


.hover:hover{
  opacity: 0.7;
  cursor: pointer;
}

html {
  max-width: 100vw;
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  color: var(--foreground);
}

a {
  color: inherit;
  text-decoration: none;
}

.ctn{
  background-color: var(--box);
  border-radius: 10px;
}

